<div class="validation-container">
    <div class="validation-content">
        <div class="image-container">
            <img class="cute-icon" src="assets/ICONIC.png" alt="cute-logo">
        </div>
        <div class="message">
            <h1>{{message}}</h1>
        </div>
        <div class="btn-container">
            <button class="yes" (click)="sendResponse(true)">Yes, I'm sorry</button>
            <button class="no" (click)="sendResponse(false)">Your'e still my favorite</button>
        </div>
    </div>
</div>