<div class="beer-info-container">
    <div class="info-pop-up">
        <button class="close-btn" (click)="close()">X</button>
        <div class="image-container">
            <img class="beer-image" [src]="beer.image_url" alt="beer-image">
        </div>
        <div class="beer-info">
            <h3 class="name">{{beer.name}}</h3>
            <h5>{{beer.description}}</h5>
            <div class="extre-info">
                <div class="abv">
                    <h3>{{beer.abv}}</h3>
                    <h3>ALCOHOL BY VOLUME</h3>
                </div>
                <div class="ph">
                    <h3>{{beer.ph}}</h3>
                    <h3>PH</h3>
                </div>
            </div>
        </div>
    </div>
</div>